## 함수
사용이유 : 코드재사용/절차적 분해

In [1]:
def add(a,b):
    result = a+b
    return result

add_result = add(100,200)
print(add_result)

300

In [2]:
def add3add5():
    return 8

좋은 함수는 매개변수를 가지고 함수이름의 작업을 해서 반환값을 주는 함수로 설명 가수

In [3]:
def add_and_mul(a,b):
    return(a+b,a*b)

add_res,mul_res = add_and_mul(3,4)
print(add_res)
print(mul_res)

7
12

In [8]:
def my_len(x):
    length = 0
    for i in x:
        length += 1
    return length

my_len('ing on')

6

In [22]:
def mult(a,b):
    s = 1
    for i in range(a, b+1):
        s *= i
    return s

mult(2,5)

120

In [25]:
def sum_pos_neg(l):
    possum = []
    negsum = []
    for i in range (len(l)):
        if l[i]>0:
            possum.append(l[i])
        else:
            negsum.append(l[i])
    return (sum(possum),sum(negsum))

sum_pos_neg([3,4,5,-3,-7])

(12, -10)

## 가변 매개변수

In [27]:
#짝수 갯수 구하기

def count_even(*n):
    cnt = 0
    for i in n:
        if i%2 == 0:
            cnt += 1
    return cnt

count_even(1,2,3,4,5)

2

In [29]:
def vector_sum(vector, *vectors):
    result = vector[:]
    for i in vectors:
        result[0] += i[0]
        result[1] += i[1]
    return result
    
v1=[0, 1]
v2=[0.5, 0.5]
v3=[1, 0]
v4=[6, 4]
v5=[3.14, 2.72]
m1 = vector_sum(v1, v2, v3)
m2 = vector_sum(v1, v2, v3, v4)
m3 = vector_sum(v3, v5)
print(m1,m2,m3)

[1.5, 1.5] [7.5, 5.5] [4.140000000000001, 2.72]

## 디폴트 매개변수

In [30]:
def print_name(first, second = 'kim'):
    print('My name is', first, second + '.')
    
print_name('Gildong', 'Hong')
print_name('Gildong')

My name is Gildong Hong.
My name is Gildong kim.

## 키워드 매개변수

In [31]:
def calc(x, y=0, z=0):
    return x+y+z

result = calc(y=20, x=10, z=30)
print(result)

calc(y=20, x=10)

60

30

In [32]:
def merge_list(a=[0],b=[0]):
    return sorted(a+b)

l = [3, 5, 9, 1, 2]
ml1 = merge_list(l,[2,1])
ml2 = merge_list([6,9,4])
ml3 = merge_list()
print(ml1)
print(ml2)
print(ml3)

[1, 1, 2, 2, 3, 5, 9]
[0, 4, 6, 9]
[0, 0]

In [8]:
#6 로또 번호 자동 기입 프로그램

print('** 로또 번호 자동 기입을 시작합니다 **')
import random
for i in range (1,6):
    print(i,'번째 자동기입 ==>', end = ' ')
    print(random.sample(range(1,46),6))

** 로또 번호 자동 기입을 시작합니다 **
1 번째 자동기입 ==> [19, 42, 39, 14, 15, 31]
2 번째 자동기입 ==> [38, 44, 6, 40, 2, 35]
3 번째 자동기입 ==> [23, 25, 14, 44, 19, 38]
4 번째 자동기입 ==> [31, 30, 8, 32, 6, 7]
5 번째 자동기입 ==> [13, 23, 33, 37, 5, 26]

In [16]:
#7 최대 최소 반환 후 두수를 리스트에서 제거

def get_min_max(l):
    max_val = max(l)
    min_val = min(l)
    l.remove(max_val)
    l.remove(min_val)
    return min_val,max_val


l = [3, 5, 9, 1, 2]
min_val, max_val = get_min_max(l)
print(min_val)
print(max_val)
print(l)

1
9
[3, 5, 2]

In [18]:
#8 두 딕션너리를 전달받아 더하라
from collections import Counter

def comb_dict(d1,d2):
    d1 = Counter(d1)
    d2 = Counter(d2)
    return d1+d2
    
    
d1 = {'a': 1, 'b': 3, 'd': 7, 'e': 8}
d2 = {'a': 2, 'c': 4, 'e': 1}
d3 = comb_dict(d1, d2)
print(d3)

Counter({'e': 9, 'd': 7, 'c': 4, 'a': 3, 'b': 3})

In [19]:
#9 숫자 2개이상 입력받아 최대 최소 차를 반환

def diff(*n):
    max_val = max(n)
    min_val = min(n)
    return max_val-min_val
    
    
print(diff(1,2,3,4,5))
print(diff(-100, 200))

4
300

In [5]:
import random

print("** 로또 번호 자동 기입을 시작합니다 **", end =' ')
for i in range(1,6):
    print('\n' + str(i) + '번째 자동 기입 ==> ', end=' ')
    for j in range(0,6): print(random.randint(1,45),end=' ')

** 로또 번호 자동 기입을 시작합니다 **
1번째 자동 기입 ==>  44 18 20 35 43 1
2번째 자동 기입 ==>  37 8 40 20 34 31
3번째 자동 기입 ==>  12 34 26 4 32 1
4번째 자동 기입 ==>  27 17 26 21 24 1
5번째 자동 기입 ==>  37 22 42 30 16 20