In [2]:
print('hello world!')

hello world!

In [5]:
t1=(1)
t2=(1,)
print(type(t1))
print(type(t2))

<class 'int'>
<class 'tuple'>

## 튜플

In [6]:
t = (1,2,3,4,5,6)

In [7]:
t[0]

1

In [8]:
print(t*3)

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [10]:
#튜플 패킹
a = 1,2,3
print(a)

(1, 2, 3)

In [11]:
#튜플 언패킹
one, two, threee = a
print(one, two, threee)

1 2 3

In [12]:
#튜플 관련 함수
a.index(1)

0

## 집합
- 순서없이 항목을 저장, 항목이 중복 될 수 없음

In [32]:
s1 = set([1,2,3])
s2 = {3,4,5,6}

In [33]:
word = 'hello'*2
print(word)

hellohello

In [34]:
word_list = list(word)
print(word_list)

['h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o']

In [35]:
s3 = set(word_list)
print(s3)

{'e', 'o', 'l', 'h'}

In [36]:
#집합관련함수
s1.add(10)
print(s1)

{10, 1, 2, 3}

In [37]:
s1.discard(2)
print(s1)

{10, 1, 3}

In [38]:
s1.update([1,3,5,7,9])
print(s1)

{1, 3, 5, 7, 9, 10}

In [39]:
s1.clear()
print(s1)

set()

In [40]:
s1.update([1,3,5,7,9])
s1.union(s2)
print(s1)

{1, 3, 5, 7, 9}

In [41]:
print(s1-s2)

{1, 9, 7}

In [48]:
#1부터 100까지 숫자 중 3과 5의 공배수를 집합형태로 만들어 아래와 같이 출력하시오

s3 = {i for i in range(1,101) if i%3 == 0}
s5 = {i for i in range(1,101) if i%5 == 0}
s = s3&s5
print(s)

{75, 45, 15, 90, 60, 30}

## 딕셔너리
- 중괄호로 묶여있으며 key와 value의 쌍으로 이루어짐

In [49]:
d = {}
d['kim'] = 1
d['park'] = 2
print(d)

{'kim': 1, 'park': 2}

In [50]:
print(d.keys())
print(d.values())

dict_keys(['kim', 'park'])
dict_values([1, 2])

In [51]:
d['lim']=3
print(d)

{'kim': 1, 'park': 2, 'lim': 3}

In [52]:
d.items()

dict_items([('kim', 1), ('park', 2), ('lim', 3)])

In [53]:
'kim' in d

True

In [54]:
'lee' in d

False

In [55]:
del d['kim']
print(d)

{'park': 2, 'lim': 3}

In [ ]:
a = input('Enter a sentense:')
di = {}
i=0
for i in a:
    if i in di:
        di[i] += 1
    else:
        di[i] = 1
print(di)

In [ ]:
print(10)

In [10]:
s=[]
for i in range(1,101):
    if i % 3 == 0:
        s = s + [i]
print(s)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]